music_collection.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CATALOG">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ALBUM" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="TITLE" maxOccurs="1" />
                            <xs:element type="xs:string" name="ARTIST" maxOccurs="1" />
                            <xs:element type="xs:string" name="COUNTRY" maxOccurs="1" />
                            <xs:element type="xs:string" name="COMPANY" maxOccurs="1" />
                            <xs:element type="xs:string" name="FORMAT" maxOccurs="1" />
                            <xs:element type="xs:string" name="GENRE" minOccurs="0" />
                            <xs:element type="xs:short" name="YEAR" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>